<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabel</title>
    <link rel="stylesheet" href="../../static/GlobalCSS.css">
</head>
<body>
<nav>
    <ul>
        <a href="../index/index.html">
            <img id="logo" src="../../static/5a576a4d1c992a034569ab75.png">
        </a>
        <il>
            <a href="../bosses/bosses.html">Bosses</a>
        </il>
        <il>
            <a href="../author/author.html">About me</a>
        </il>
        <il>
            <a href="../bosses/bosses_tabel.html">Table of bosses</a>
        </il>
    </ul>
</nav>
<div id="boss-list-div"></div>
<script src="updateBosses.js"></script>
</body>
</html>