<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bosses</title>
    <script src="../lib/HTMLEscape.js"></script>
    <link rel="stylesheet" href="../../static/GlobalCSS.css">

</head>
<body>
<nav>
    <ul>
        <a href="../index/index.html">
            <img id="logo" src="../../static/5a576a4d1c992a034569ab75.png">
        </a>
        <il>
            <a href="../bosses/bosses.html">Bosses</a>
        </il>
        <il>
            <a href="../author/author.html">About me</a>
        </il>
        <il>
            <a href="../bosses/bosses_tabel.html">Table of bosses</a>
        </il>
    </ul>
</nav>

    <div id="boss-div"></div>

    <h2>Add a new boss:</h2>
    <div id="create-boss-wrapper">
        <input id="create-boss-name" placeholder="Name" style="text-align: center">
        <input id="create-boss-health" placeholder="Health" style="text-align: center">
        <input id="create-boss-ability" placeholder="Ability">
        <input id="create-boss-image" placeholder="Image-link">
        <button id="create-boss-button">Add boss!</button>
    </div>
<script src="bosses.js"></script>

</body>
</html>