<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forside</title>
  <link rel="stylesheet" href="../../static/GlobalCSS.css">
</head>
<body>

<nav>
  <ul>
    <a href="index.html">
      <img id="logo" src="../../static/5a576a4d1c992a034569ab75.png">
    </a>
    <il>
      <a href="../bosses/bosses.html">Bosses</a>
    </il>
    <il>
      <a href="../author/author.html">About me</a>
    </il>
  </ul>
</nav>

<h1 id="title">Hej og velkommen til min forside :)</h1>

</body>
</html>